<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="p_rob" >

  <!-- common stuff -->
  <xacro:include filename="$(find cob_description)/urdf/common.xacro" />
  <xacro:include filename="$(find cob_description)/urdf/materials.urdf.xacro" />

  <!-- p_rob_arm -->
  <xacro:include filename="$(find raw_description)/urdf/p_rob_arm/p_rob.urdf.xacro" />

  <!-- Used for fixing robot to Gazebo -->
  <link name="world"/>

  <xacro:p_rob name="arm" parent="world">
    <origin xyz="0 0 0.031" rpy="0 0 0" />
  </xacro:p_rob>

</robot>