<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="baker" >

  <!-- common stuff -->
  <xacro:include filename="$(find cob_description)/urdf/common.xacro" />
  <xacro:include filename="$(find cob_description)/urdf/materials.urdf.xacro" />

  <!-- baker_arm -->
  <xacro:include filename="$(find cob_description)/urdf/baker_arm/baker_arm.urdf.xacro" />

  <!-- Used for fixing robot to Gazebo -->
  <link name="world"/>

  <xacro:baker name="arm" parent="world"/>

</robot>
